In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
import datetime as date


## Extract CSVs into DataFrames

#### reformat the female data

In [5]:
# Save data from path in new variable
pop_female = "data/WPP2019_POP_F07_3_POPULATION_BY_AGE_FEMALE.csv"

# Use Pandas to read female data
pop_fem_df = pd.read_csv(pop_female)
pop_fem_df = pop_fem_df[pop_fem_df['Country code'] == 840]
pop_fem_df

,Index,Variant,Region,Notes,Country code,Type,Parent code,Reference date (as of 1 July),0-4,9-May,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
3810,3811,Estimates,United States of America,29,840,Country/Area,918,1950,8424.578,6740.604,...,3853.162,3381.455,2871.965,1867.607,1193.194,566.626,302.498,120.379,31.581,5.067
3811,3812,Estimates,United States of America,29,840,Country/Area,918,1955,9434.65,8402.276,...,4155.577,3729.815,3119.761,2346.763,1449.914,826.031,294.848,113.475,29.31,4.953
3812,3813,Estimates,United States of America,29,840,Country/Area,918,1960,10151.001,9444.156,...,4821.32,4013.554,3395.273,2598.108,1876.347,989.228,434.227,110.293,27.309,4.407
3813,3814,Estimates,United States of America,29,840,Country/Area,918,1965,9677.523,10200.458,...,5209.85,4482.121,3674.554,2988.48,2113.191,1268.692,528.098,163.644,26.413,3.962
3814,3815,Estimates,United States of America,29,840,Country/Area,918,1970,8612.748,9874.288,...,5369.003,4846.267,4186.31,3224.592,2408.11,1498.806,700.102,207.375,40.814,3.996
3815,3816,Estimates,United States of America,29,840,Country/Area,918,1975,8074.567,8724.133,...,5624.248,5053.235,4623.262,3586.532,2692.097,1834.765,870.176,295.184,56.288,6.475
3816,3817,Estimates,United States of America,29,840,Country/Area,918,1980,8032.156,8150.446,...,6113.344,5443.734,4870.903,4126.846,3137.122,1928.991,1137.316,402.777,90.354,10.276
3817,3818,Estimates,United States of America,29,840,Country/Area,918,1985,8684.322,8150.306,...,5918.781,5835.892,5191.179,4337.451,3534.271,2370.315,1223.944,544.753,128.53,17.261
3818,3819,Estimates,United States of America,29,840,Country/Area,918,1990,9398.321,8798.684,...,5478.526,5701.565,5553.424,4642.514,3727.245,2685.961,1525.725,589.709,171.891,24.072
3819,3820,Estimates,United States of America,29,840,Country/Area,918,1995,9758,9535.909,...,5741.546,5284.251,5383.7,4952.641,3975.332,2770.522,1765.858,758.621,191.566,33.378
3820,3821,Estimates,United States of America,29,840,Country/Area,918,2000,9563.676,10176.5,...,6944.267,5643.768,5071.324,4902.578,4325.729,3126.458,1806.518,854.111,233.072,34.711
3821,3822,Estimates,United States of America,29,840,Country/Area,918,2005,9907.891,9656.077,...,8866.875,6784.402,5415.706,4679.099,4256.551,3306.226,2050.456,866.352,253.107,38.271
3822,3823,Estimates,United States of America,29,840,Country/Area,918,2010,10208.213,10093.069,...,10096.178,8678.792,6536.938,5012.471,4093.241,3471.048,2264.765,1042.267,275.414,44.592
3823,3824,Estimates,United States of America,29,840,Country/Area,918,2015,9742.839,10265.653,...,10961.28,9798.103,8285.448,6071.132,4447.56,3344.864,2441.639,1208.999,355.017,53.572
3824,3825,Estimates,United States of America,29,840,Country/Area,918,2020,9621.269,9798.759,...,10840.205,10619.257,9353.753,7709.344,5400.748,3655.579,2372.445,1348.005,447.633,76.312

In [3]:
# rename the columns
clean_female_df = pop_fem_df.rename(columns={'Reference date (as of 1 July)':'Year','0-4':'r_0_4','5-9':'r_5_9',
                                             '10-14':'r_10_14','15-19':'r_15_19','20-24':'r_20_24','25-29':'r_25_29',
                                             '30-34':'r_30_34','35-39':'r_35_39','40-44':'r_40_44','45-49':'r_45_49',
                                             '50-54':'r_50_54','55-59':'r_55_59','60-64':'r_60_64',
                                             '65-69':'r_65_69','70-74':'r_70_74','75-79':'r_75_79','80-84':'r_80_84',
                                             '85-89':'r_85_89','90-94':'r_90_94','95-99':'r_95_99','100+':'r_100_105'})

In [4]:
# new df columns 
few_female_df = clean_female_df[['Year','r_0_4','r_5_9','r_10_14','r_15_19','r_20_24','r_25_29','r_30_34','r_35_39','r_40_44','r_45_49','r_50_54',"r_55_59","r_60_64","r_65_69","r_70_74","r_75_79","r_80_84","r_85_89","r_90_94","r_95_99","r_100_105"]].copy()
few_female_df

KeyError: "['r_5_9', 'r_10_14'] not in index"

In [ ]:
# clean up the data...add column and data, remove space and change the type

few_female_df['Sex']='Female'
few_female_df['r_0_4'] = few_female_df['r_0_4'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_5_9'] = few_female_df['r_5_9'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_10_14'] = few_female_df['r_10_14'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_15_19'] = few_female_df['r_15_19'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_20_24'] = few_female_df['r_20_24'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_25_29'] = few_female_df['r_25_29'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_30_34'] = few_female_df['r_30_34'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_35_39'] = few_female_df['r_35_39'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_40_44'] = few_female_df['r_40_44'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_45_49'] = few_female_df['r_45_49'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_50_54'] = few_female_df['r_50_54'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_55_59'] = few_female_df['r_55_59'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_60_64'] = few_female_df['r_60_64'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_65_69'] = few_female_df['r_65_69'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_70_74'] = few_female_df['r_70_74'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_75_79'] = few_female_df['r_75_79'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_80_84'] = few_female_df['r_80_84'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_85_89'] = few_female_df['r_85_89'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_90_94'] = few_female_df['r_90_94'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_95_99'] = few_female_df['r_95_99'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_100_105'] = few_female_df['r_100_105'].str.replace(" ","").astype('float').round().astype('int')

few_female_df

#### reformat the male data

In [ ]:
# Save data from path in new variable
pop_male = "data/WPP2019_POP_F07_2_POPULATION_BY_AGE_MALE.csv"

# Use Pandas to read male data
pop_male_df = pd.read_csv(pop_male)
pop_male_df = pop_male_df[pop_male_df['Country code'] == 840]
pop_male_df.describe()

In [ ]:
# rename the columns
clean_male_df = pop_male_df.rename(columns={'Reference date (as of 1 July)':'Year','0-4':'r_0_4','5-9':'r_5_9',
                                             '10-14':'r_10_14','15-19':'r_15_19','20-24':'r_20_24','25-29':'r_25_29',
                                             '30-34':'r_30_34','35-39':'r_35_39','40-44':'r_40_44','45-49':'r_45_49',
                                             '50-54':'r_50_54','55-59':'r_55_59','60-64':'r_60_64',
                                             '65-69':'r_65_69','70-74':'r_70_74','75-79':'r_75_79','80-84':'r_80_84',
                                             '85-89':'r_85_89','90-94':'r_90_94','95-99':'r_95_99','100+':'r_100_105'})
# new df columns... 
few_male_df = clean_male_df[['Year','r_0_4','r_5_9','r_10_14','r_15_19','r_20_24','r_25_29','r_30_34','r_35_39','r_40_44','r_45_49','r_50_54',"r_55_59","r_60_64","r_65_69","r_70_74","r_75_79","r_80_84","r_85_89","r_90_94","r_95_99","r_100_105"]].copy()
few_male_df

In [ ]:
# clean up the data...add column and data, remove space and change the type

few_male_df['Sex']='Male'
few_male_df['r_0_4'] = few_male_df['r_0_4'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_5_9'] = few_male_df['r_5_9'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_10_14'] = few_male_df['r_10_14'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_15_19'] = few_male_df['r_15_19'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_20_24'] = few_male_df['r_20_24'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_25_29'] = few_male_df['r_25_29'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_30_34'] = few_male_df['r_30_34'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_35_39'] = few_male_df['r_35_39'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_40_44'] = few_male_df['r_40_44'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_45_49'] = few_male_df['r_45_49'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_50_54'] = few_male_df['r_50_54'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_55_59'] = few_male_df['r_55_59'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_60_64'] = few_male_df['r_60_64'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_65_69'] = few_male_df['r_65_69'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_70_74'] = few_male_df['r_70_74'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_75_79'] = few_male_df['r_75_79'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_80_84'] = few_male_df['r_80_84'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_85_89'] = few_male_df['r_85_89'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_90_94'] = few_male_df['r_90_94'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_95_99'] = few_male_df['r_95_99'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_100_105'] = few_male_df['r_100_105'].str.replace(" ","").astype('float').round().astype('int')

few_male_df

## Database creation
### Create the database connection

In [ ]:
from config import username, password

engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/Population')

### Load dataframes into database

In [ ]:
few_female_df.to_sql(name='un_sex_population', con=engine, if_exists='append', index=False)

In [ ]:
few_male_df.to_sql(name='un_sex_population', con=engine, if_exists='append', index=False)