In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
import datetime as date


## Extract CSVs into DataFrames

#### reformat the female data

In [2]:
# Save data from path in new variable
pop_female = "data/WPP2019_POP_F07_3_POPULATION_BY_AGE_FEMALE.csv"

# Use Pandas to read female data
pop_fem_df = pd.read_csv(pop_female)
pop_fem_df = pop_fem_df[pop_fem_df['Country code'] == 840]
pop_fem_df.describe()

                ID  Country code  Parent code  Reference date (as of 1 July)
count    15.000000          15.0         15.0                       15.00000
mean   3818.000000         840.0        918.0                     1985.00000
std       4.472136           0.0          0.0                       22.36068
min    3811.000000         840.0        918.0                     1950.00000
25%    3814.500000         840.0        918.0                     1967.50000
50%    3818.000000         840.0        918.0                     1985.00000
75%    3821.500000         840.0        918.0                     2002.50000
max    3825.000000         840.0        918.0                     2020.00000

In [3]:
# rename the columns
clean_female_df = pop_fem_df.rename(columns={'Reference date (as of 1 July)':'Year','0-4':'r_0_4','5-9':'r_5_9',
                                             '10-14':'r_10_14','15-19':'r_15_19','20-24':'r_20_24','25-29':'r_25_29',
                                             '30-34':'r_30_34','35-39':'r_35_39','40-44':'r_40_44','45-49':'r_45_49',
                                             '50-54':'r_50_54','55-59':'r_55_59','60-64':'r_60_64',
                                             '65-69':'r_65_69','70-74':'r_70_74','75-79':'r_75_79','80-84':'r_80_84',
                                             '85-89':'r_85_89','90-94':'r_90_94','95-99':'r_95_99','100+':'r_100_105'})

In [4]:
# new df columns 
few_female_df = clean_female_df[['Year','r_0_4','r_5_9','r_10_14','r_15_19','r_20_24','r_25_29','r_30_34','r_35_39','r_40_44','r_45_49','r_50_54',"r_55_59","r_60_64","r_65_69","r_70_74","r_75_79","r_80_84","r_85_89","r_90_94","r_95_99","r_100_105"]].copy()
few_female_df

KeyError: "['r_10_14', 'r_5_9'] not in index"

In [ ]:
# clean up the data...add column and data, remove space and change the type

few_female_df['Sex']='Female'
few_female_df['r_0_4'] = few_female_df['r_0_4'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_5_9'] = few_female_df['r_5_9'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_10_14'] = few_female_df['r_10_14'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_15_19'] = few_female_df['r_15_19'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_20_24'] = few_female_df['r_20_24'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_25_29'] = few_female_df['r_25_29'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_30_34'] = few_female_df['r_30_34'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_35_39'] = few_female_df['r_35_39'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_40_44'] = few_female_df['r_40_44'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_45_49'] = few_female_df['r_45_49'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_50_54'] = few_female_df['r_50_54'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_55_59'] = few_female_df['r_55_59'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_60_64'] = few_female_df['r_60_64'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_65_69'] = few_female_df['r_65_69'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_70_74'] = few_female_df['r_70_74'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_75_79'] = few_female_df['r_75_79'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_80_84'] = few_female_df['r_80_84'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_85_89'] = few_female_df['r_85_89'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_90_94'] = few_female_df['r_90_94'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_95_99'] = few_female_df['r_95_99'].str.replace(" ","").astype('float').round().astype('int')
few_female_df['r_100_105'] = few_female_df['r_100_105'].str.replace(" ","").astype('float').round().astype('int')

few_female_df

#### reformat the male data

In [ ]:
# Save data from path in new variable
pop_male = "data/WPP2019_POP_F07_2_POPULATION_BY_AGE_MALE.csv"

# Use Pandas to read male data
pop_male_df = pd.read_csv(pop_male)
pop_male_df = pop_male_df[pop_male_df['Country code'] == 840]
pop_male_df.describe()

In [ ]:
# rename the columns
clean_male_df = pop_male_df.rename(columns={'Reference date (as of 1 July)':'Year','0-4':'r_0_4','5-9':'r_5_9',
                                             '10-14':'r_10_14','15-19':'r_15_19','20-24':'r_20_24','25-29':'r_25_29',
                                             '30-34':'r_30_34','35-39':'r_35_39','40-44':'r_40_44','45-49':'r_45_49',
                                             '50-54':'r_50_54','55-59':'r_55_59','60-64':'r_60_64',
                                             '65-69':'r_65_69','70-74':'r_70_74','75-79':'r_75_79','80-84':'r_80_84',
                                             '85-89':'r_85_89','90-94':'r_90_94','95-99':'r_95_99','100+':'r_100_105'})
# new df columns... 
few_male_df = clean_male_df[['Year','r_0_4','r_5_9','r_10_14','r_15_19','r_20_24','r_25_29','r_30_34','r_35_39','r_40_44','r_45_49','r_50_54',"r_55_59","r_60_64","r_65_69","r_70_74","r_75_79","r_80_84","r_85_89","r_90_94","r_95_99","r_100_105"]].copy()
few_male_df

In [ ]:
# clean up the data...add column and data, remove space and change the type

few_male_df['Sex']='Male'
few_male_df['r_0_4'] = few_male_df['r_0_4'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_5_9'] = few_male_df['r_5_9'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_10_14'] = few_male_df['r_10_14'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_15_19'] = few_male_df['r_15_19'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_20_24'] = few_male_df['r_20_24'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_25_29'] = few_male_df['r_25_29'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_30_34'] = few_male_df['r_30_34'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_35_39'] = few_male_df['r_35_39'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_40_44'] = few_male_df['r_40_44'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_45_49'] = few_male_df['r_45_49'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_50_54'] = few_male_df['r_50_54'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_55_59'] = few_male_df['r_55_59'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_60_64'] = few_male_df['r_60_64'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_65_69'] = few_male_df['r_65_69'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_70_74'] = few_male_df['r_70_74'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_75_79'] = few_male_df['r_75_79'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_80_84'] = few_male_df['r_80_84'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_85_89'] = few_male_df['r_85_89'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_90_94'] = few_male_df['r_90_94'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_95_99'] = few_male_df['r_95_99'].str.replace(" ","").astype('float').round().astype('int')
few_male_df['r_100_105'] = few_male_df['r_100_105'].str.replace(" ","").astype('float').round().astype('int')

few_male_df

## Database creation
### Create the database connection

In [ ]:
from config import username, password

engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/Population')

### Load dataframes into database

In [ ]:
few_female_df.to_sql(name='un_sex_population', con=engine, if_exists='append', index=False)

In [ ]:
few_male_df.to_sql(name='un_sex_population', con=engine, if_exists='append', index=False)